.Navbar{
  width: 100%vh;
  background-color: dodgerblue;
  height: 15vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

}

.navlink{
  list-style: none;
  padding: 5px;
  margin: 5px;
  text-decoration: none;
  margin-top: 50px;
  background-color: #fff;
  color: #000;
}
.Navbar nav{
  margin-bottom: 20px;
}
.navlink:active{
  background-color: grey;
}
.signup{
  width: 100vw;
  display: flex;
  padding: 30px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}
.form-control{
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
  width:350px;
}
.form-control input{
  padding: 10px;
  margin:7px;
  border-radius: 5px;
  border: 1px solid grey;
  width:300px;
}
.form-control button{
  width: 100px;
}

.charts{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}
/* .secondary-chart{
  width: 22vw;
  height: 52vh;
  margin-top: 19px;
  padding-left: 3px;
  margin-left: 10px;

} */

.piechart{
  border: 1px solid red;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-chart{
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid red; */
  padding-left: 500px;
}
.new-primary-chart{
margin-left: 100px;
}

/* .pie{

  border: 1px solid #060b26;
 display: flex;
 align-items: center;
 justify-content: center;
 padding-left: 10px;
 border-radius: 10px;
 background-color: #fff;
 
} */
